<a href="https://colab.research.google.com/github/siddeshnaik/Sparks_Foundation/blob/main/Terrorisum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
!unzip "/content/Global_Terrorism_START_data.zip"

In [ ]:
df = pd.read_csv('/content/globalterrorismdb_0718dist.csv', encoding='cp1252', low_memory=False)
df

In [ ]:
df.columns.values

In [ ]:
#number of terror attacks that took place in different years
s1=pd.Series(df['iyear'].value_counts())
df1 = pd.DataFrame(s1)
df1.reset_index(inplace=True)

In [ ]:
df1.columns = ['Year', 'Number of Incidents']

In [ ]:
df1.head()

In [ ]:
df1.sum()

In [ ]:
df2 = pd.DataFrame(df, columns=['country_txt', 'city', 'attacktype1_txt', 'target1', 'targtype1_txt', 'nkill', 'nwound', 'gname', 'iyear', 'imonth', 'iday', 'weaptype1_txt', 'region_txt','summary','motive', 'latitude','longitude'])
df2

In [ ]:
df2.isna().sum()

In [ ]:
df2.dropna().shape

In [ ]:
df2.shape

#NEW START

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')

In [ ]:
given_data = pd.read_csv('/content/globalterrorismdb_0718dist.csv', encoding='cp1252', low_memory=False)
given_data

#####Looking into Data

In [ ]:
given_data.shape

In [ ]:
given_data.columns.values

In [ ]:
given_data.describe()

#####Data Cleaning

In [ ]:
df = given_data[['eventid', 'iyear','imonth','country_txt', 
           'region_txt', 'latitude', 'longitude', 
           'provstate', 'city', 'crit1', 'crit2', 'crit3', 
           'success', 'suicide', 'attacktype1_txt', 'targtype1_txt', 
           'targsubtype1_txt', 'natlty1_txt','gname', 'gsubname', 'guncertain1', 
           'claimed', 'weaptype1_txt', 'weapsubtype1', 'nkill','nwound' ]].copy()
#Renaming for further use
df.rename(columns = {'eventid' : 'EventId', 
                     'iyear' : 'Year',
                     'imonth' : 'Month',
                     'country_txt': 'Country', 
                     'region_txt' : 'Region', 
                     'provstate' : 'Provstate', 
                     'city' : 'City', 
                     'crit1' : 'Crit1', 
                     'crit2' : 'Crit2', 
                     'crit3' : 'Crit3', 
                     'success' : 'Success', 
                     'suicide' : 'Suicide', 
                     'attacktype1_txt' : 'AttackType', 
                     'targtype1_txt' : 'TargType', 
                     'targsubtype1_txt' : 'TargSubType', 
                     'natlty1_txt' : 'Nationality', 
                     'gname' : 'Group', 
                     'guncertain1' : 'GunCertain1', 
                     'claimed' : 'Claimed', 
                     'weaptype1_txt' : 'WeaponType',
                     'weapsubtype1' : 'WeaponSubType', 
                     'nkill' : 'Killed',
                     'nwound' : 'Wounded'}, inplace = True)
df